@model WebApplication1.Models.Client;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveClient</title>
</head>
<body>
    <fieldset>
        <legend> Cliente Guardado </legend>
        
        <div>
            <label for="ClientId">Id</label>
        </div>

        <div>
            <input type="text" value="@Model.ClientId" id="ClientId" name="ClientId" />
        </div>

        <div>
            <label for="ClientName">Name</label>
        </div>

        <div>
            <input type="text" value="@Model.ClientName" name="ClientName" name="ClientName" />
        </div>

        <div>
            <label for="ClientEmail">Email</label>
        </div>

        <div>
            <input type="text" value="@Model.ClientEmail" email="ClientEmail" name="ClientEmail" />
        </div>

        <div>
            <label for="ClientPhone">Phone</label>
        </div>

        <div>
            <input type="text" value="@Model.ClientPhone" phone="ClientPhone" name="ClientPhone" />
        </div>
    
    </fieldset>

</body>
</html>
